<%= render partial: "shared/nav" %>

<body>
<div class="row">
    <p class='col-12'>My Discount</p>
  </div>
  <h4>Discount: <%= number_to_percentage(@discount.percent_discount, precision: 0) %></h4>
  <h4>Quantity Threshold: <%= @discount.threshold_quantity %></h4>
</body>